@import url(colors.css);
@import url(icon.css);
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;900&family=Redacted+Script&family=Share+Tech+Mono&family=Staatliches&display=swap');

/*font-family: 'Lato', sans-serif;
font-family: 'Redacted Script', cursive;
font-family: 'Staatliches', cursive;
font-family: 'Share Tech Mono', monospace;*/

:root {
    --headerfont: 'Staatliches', cursive;
    --specialfont: 'Lato', sans-serif;
    --monofont: 'Share Tech Mono', monospace;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --outline: 1px dotted red;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--back-primary);
    width: 100%;
    height: 100vh;
}

header {
    padding: .5em 2em .5em 2em;
    height: 6rem;
    width: 100%;
    text-align: right;
    background: var(--color-text);
}

nav {
    display: flex;
    flex-direction: row;
    align-items: left;
    width: 100%;
    height: 5rem;
    background: var(--secondaryDark);
    padding: 20px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height:calc(100% - 3rem - 5rem - 6rem);
    gap: .2rem;
    background: var(--secondary);
    margin: 0 auto;
    padding: 1rem;
    overflow-x: hidden;
    overflow-y: scroll;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--primaryDark);
    color: var(--neutralLight);
    width: 100%;
    height: 3rem;
    padding: 1rem;
}

.article {
    width: 80%;
    padding: 1rem;
    background: var(--secondaryLight);
    border-radius: .5rem;
}

.article h2 {
    font-family: var(--headerfont);
    font-size: 1.5rem;
    font-weight: 900;
    color: var(--color-text);
    text-align: left;
    margin: 0;
}

.ingress {
    font: bold 1rem sans-serif;
    color: var(--color-text);
    text-align: left;
    margin: 0 auto .3rem auto;
}

.text {
    font: normal 1rem sans-serif;
    color: var(--color-text);
    text-align: left;
    margin: 0 auto .3rem auto;
}

.byline {
    font: italic bold 1.1rem var(--specialfont);
    background: linear-gradient(to right, var(--secondaryDark) 0%, var(--accent) 100%);
    color: var(--color-text);
    text-align: right;
    padding: .2rem 1rem .2rem 1rem;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
}

h1 {
    font: 2rem var(--headerfont);
    color: var(--color-text);
}

.row {
    display: flex;
    flex-direction: column;
    padding: .5rem;
    width: 100%;
    background: var(--secondaryLight);
    font: bold 1.1rem var(--specialfont);
}

.row div:last-child {
    text-align: right;
    width: 100%;
}

.row .pass {
    display: none;
}

.row .mono {
    font: 1.2rem var(--monofont);
    color: var(--primaryDark);
}

.row .real {
    width: 100%;
    padding: .2rem 1rem .2rem 1rem;
    border-radius: .3rem;
    font: bold 1.5rem var(--specialfont);
    color: var(--secondary);
    background: var(--primaryDark);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    background: var(--neutralLighter);
    padding: 20px;
    border-radius: 10px;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--neutralLightest);
    font:1rem sans-serif;
    margin-bottom: 10px;
}

form div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form input[type="submit"] {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--secondaryDark);
    margin-bottom: 10px;
    background: var(--secondary);
    color: var(--color-text);
    cursor: pointer;
    font: bold 1.1rem var(--specialfont);
}

form h1 {
    margin-bottom: 20px;
    font: 30px var(--headerfont);
}

form #nrlevel {
    width: 1.5rem;
    height: 1.5rem;
    padding: .2rem;
    border-radius: 50%;
    border: 1px solid var(--secondaryDark);
    margin: 10px;
    background: var(--secondary);
    color: black;
    font: .8rem var(--headerfont);
    text-align: center;
}

nav a,
.btn {
    color: var(--color-text);
    text-decoration: none;
    margin-right: 20px;
    background: var(--secondary);
    padding: 10px;
    font: 900 1.1em var(--specialfont);
}

nav a:hover,
.btn:hover {
    background: var(--back-primary);
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

header h1 {
    margin-bottom: 20px;
    font: 4rem var(--headerfont);
    color: var(--accent);
}

.log {
    --display: none;
    position: absolute;
    top: 5rem;
    width: 12rem;
    right: 2rem;
}

.btn {
    position: relative;
    float: right;
    right: 0;
    top: 0;
}

details{
    width:100%;
    background: var(--neutralLight);
    border: 1px solid var(--neutralDark);
    font:.8rem sans-serif;
}
details summary{
    width: 100%;
    background: linear-gradient(to right, var(--neutralLight) 0%, var(--neutralDark) 100%);
    font:bold 1.1rem var(--specialfont);
    padding: .1rem 0 .1rem .5rem;
}
details p{
    width: 100%;
    padding: .5rem;
}
.list_mono{
    font: 1.2rem var(--monofont);
    color: var(--primaryDark);
}