:root {
    --primary: #777777;
    --primaryLight: #c8aa00;
    --primaryDark: #444;
    --secondary: #a39a63;
    --secondaryLight: #fbfbc1;
    --secondaryDark: rgb(144, 101, 0);
    --neutralDarker: #111;
    --neutralDark: #333;
    --neutral: #333;
    --neutralLight: #999;
    --neutralLighter: #ccc;
    --neutralLightest: #fafafa;
    --accent: #ff9800;
    /****************************************************************/
    --back-primary: var(neutralLighter);
    --back-secondary: var(neutralLightest);
    --color-text: var(--neutralDarker);
    --color-text-secondary: var(--neutral);
}