@import "colors.css";
@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Thai+Looped:100,200,300,regular,500,600,700);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.list, .edit {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
}
.row {
    width: 100%;
    background: var(--back-secondary);
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
}
