@import url(colors.css);
@import url(icon.css);
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;900&family=Redacted+Script&family=Share+Tech+Mono&family=Staatliches&display=swap');

/*font-family: 'Lato', sans-serif;
font-family: 'Redacted Script', cursive;
font-family: 'Staatliches', cursive;
font-family: 'Share Tech Mono', monospace;*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 1px dotted red;
}

body {
    display: flex;
    flex-direction: column;
    --position: absolute;
    background: var(--back-primary);
    width: 100%;
    min-height: 110vh;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    top: 0px;
    bottom: 0px;
    min-height: 100%;
    gap: .2rem;
    background: var(--color-text-secondary);
    margin: 0 auto;
    padding: 1rem;
}

.article {
    width: 80%;
    padding: 1rem;
    background: var(--back-secondary);
    border-radius: .5rem;
}

.article h2 {
    font-family: 'Staatliches', cursive;
    font-size: 1.5rem;
    font-weight: 900;
    color: var(--color-text);
    text-align: left;
    margin: 0;
}

.ingress {
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: var(--color-text);
    text-align: left;
    margin: 0 auto .3rem auto;
}

.text {
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: normal;
    color: var(--color-text);
    text-align: left;
    margin: 0 auto .3rem auto;
}

.byline {
    font-family: 'Lato', sans-serif;
    width: 100%;
    font-size: 1.1rem;
    font-weight: bold;
    font-style: italic;
    --background: var(--accent-color);
    background: linear-gradient(to right, var(--color-secondary-dark) 0%, var(--accent-color) 100%);
    color: var(--color-text);
    text-align: right;
    padding: .2rem 1rem .2rem 1rem;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
}

h1 {
    font-family: 'Staatliches', cursive;
    font-size: 2rem;
    color: var(--color-text);
}

.row {
    padding: .5rem;
    width: 100%;
    background: var(--back-secondary);
    font-family: 'Lato', sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
}

.row div:last-child {
    text-align: right;
    width: 100%;
}

.row .pass {
    display: none;
}

.row .mono {
    font-family: 'Share Tech Mono', monospace;
    font-size: 1.2rem;
    color: var(--color-primary-dark);
}

.row .real {
    width: 100%;
    padding: .2rem 1rem .2rem 1rem;
    border-radius: .3rem;
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color-secondary);
    background: var(--color-primary-dark);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    background: var(--back-primary);
    padding: 20px;
    border-radius: 10px;
}

form input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--back-secondary);
    margin-bottom: 10px;
}

form div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form input[type="submit"] {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--back-secondary);
    margin-bottom: 10px;
    background: var(--back-secondary);
    color: var(--color-text);
    cursor: pointer;
}

form h1 {
    font-size: 30px;
    margin-bottom: 20px;
    font-family: 'Staatliches', cursive;
}

form #nrlevel {
    width: 1.5rem;
    height: 1.5rem;
    padding: .2rem;
    border-radius: 50%;
    border: 1px solid var(--back-secondary);
    margin: 10px;
    background: var(--back-secondary);
    color: black;
    font-size: .8rem;
    font-family: 'Staatliches', cursive;
    text-align: center;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: left;
    width: 100%;
    background: var(--color-secondary-dark);
    padding: 20px;
}

nav a,
.btn {
    color: var(--color-text);
    text-decoration: none;
    margin-right: 20px;
    background: var(--color-secondary);
    padding: 10px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}

nav a:hover,
.btn:hover {
    background: var(--back-primary);
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

header h1 {
    font-size: 4em;
    margin-bottom: 20px;
    font-family: 'Staatliches', cursive;
    color: var(--accent-color);
}

header {
    padding: .5em 2em .5em 2em;
    height: 5rem;
    text-align: right;
    background: var(--color-text);
}

.log {
    --display: none;
    position: absolute;
    top: 5rem;
    width: 12rem;
    right: 2rem;
}

.btn {
    position: relative;
    float: right;
    right: 0;
    top: 0;
}