:root {
    --color-primary: #00bcd4;
    --color-secondary: #eec78b;
    --color-primary-dark: #32485d;
    --color-secondary-dark: #a16414;
    --back-primary: #fafafa;
    --back-secondary: #d3d3d3;
    --accent-color: #ff9800;
    --color-text: #212121;
    --color-text-secondary: #757575;

    /* 
    --primary:
    --primaryLight: 
    --primaryDark:
    
    --secondary:
    --secondaryLight:
    --secondaryDark:
    
    --neutralDarker:
    --neutralDark:
    --neutral:
    --neutralLight:
    --neutralLighter: 
    --neutralLightest: 
    */
}